html, body, #root, .App {
  height: 100%;
  width: 100%;
}

button, input {
  padding: 5px;
}

.App {
  padding: 10px;
  font-size: 12px;
  box-sizing: border-box;
}

/**
 * Dropzone styling
 */

.TraceViewDropzone {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  cursor: pointer;
}
.TraceViewDropzone p {
  top: 50%;
  position: relative;
  font-size: 25px;
}

.filters {
  padding-bottom: 10px;
  border-bottom: 3px solid lightgrey;
  margin-bottom: 30px;
}

.filters input {
  margin: 0 15px 0 10px;
}
.isHighlighted {
  background-color: rgba(255, 234, 0, 0.54) !important;
}

.HighlightedNav {
  position: fixed;
  bottom: 10px;
  right: 2px;
}

.HighlightedNav button {
  margin: 0 10px;
}
